* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;

    > .mainContainer {

        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 2.5rem auto 1rem auto;
        border-radius: 12px;
        margin: 1rem;
        padding: 3.125rem 1rem 3.125rem 1rem;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;

        > .logoContainer {

            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            > .welcomeTextContainer {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 0.5rem;

                > .title {

                    color: var(--color-neutral-950);
                }

                > p {

                    color: var(--color-neutral-600)
                }
            }
        }

        > .loginWrapper {

            grid-row: 3 / 4;
            display: flex;

            > .formContainer {

                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                > .inputContainer {

                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    > label {

                        color: var(--color-neutral-950);
                    }


                    input {

                        border-radius: 0.5rem;
                        border-style: solid;
                        border-width: 1px;
                        border-color: darkgrey;
                        padding: 0.75rem 1rem 0.75rem 1rem;
                    }

                    > .passwordContainer {

                        display: grid;
                        grid-template-columns: 1fr calc(20px + 1rem);
                        grid-template-rows: 1fr;
                        align-items: center;

                        > input {

                            grid-column: 1/-1;
                            grid-row: 1/-1;
                        }

                        > img {

                            grid-column: 2/-1;
                            grid-row: 1/-1;
                            width: 20px;
                            height: 20px;
                        }
                    }


                    > .infoContainer {

                        display: flex;
                        gap: 0.625rem;
                        align-items: center;
                        font-size: 0.75rem;

                        > img {

                            width: 1rem;
                            height: 1rem;
                        }

                        > p {

                            color: var(--color-neutral-600);
                        }
                    }
                }

                > button {

                    border:none;
                    border-radius: 0.5rem;
                    padding: 0.75rem 0 0.75rem 0;
                    color: white;
                    background-color: rgb(50, 100, 250);
                }

            }
        }

        > .loginContainer {
            grid-row: 5/-1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;


            > hr {

                border-style: solid;
                border-color: lightgray;
                border-width: 1px;
            }

            > p {

                align-self: center;
                color: var(--color-neutral-600);

                > a, a:visited {

                    text-decoration: none;
                    color: var(--color-neutral-950);
                }
            }
        }
    }
}

/* TABLET MEDIA QUERY */
@media screen and (min-width: 522px) {

    .wrapper {

        > .mainContainer {

            max-width: 522px;
            max-height: 619px;
            padding: 3rem 2rem 3rem 2rem;
        }
    }
}

/* DESKTOP MEDIA QUERY */
@media screen and (min-width: 1024px) {

    .wrapper {

        > .mainContainer {

            max-width: 522px;
            max-height: 623px;
            padding: 3rem 3rem 3rem 3rem;
        }
    }
}
