.noteDetailWrapper{

    grid-row: 2/3;
    padding: 1.25rem 1rem 1rem 1rem;

    > .modalWrapper {

        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
        width: 100dvw;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        > .deleteModalContainer{

            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 0.75rem;

            > .warningContainer {

                display: flex;
                align-items: flex-start;
                gap: 1rem;
                padding: 1.25rem;
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

                > img {

                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background-color: var(--color-neutral-100);
                }

                > .textContainer {

                    display: flex;
                    flex-direction: column;
                    gap: 0.375rem;

                    > .title {
                        color: var(--color-neutral-950);
                    }

                    > p {

                        color: var(--color-neutral-700);
                    }
                }
            }

            > .buttonContainer {

                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1rem;
                padding: 1.25rem;

                > button {

                    padding: 0.75rem 1rem 0.75rem 1rem;
                    border: none;
                    border-radius: 0.75rem;

                    &.cancelButton {

                        color: var(--color-neutral-600);
                        background-color: var(--color-neutral-100)
                    }

                    &.deleteButton {

                        color: var(--color-neutral-0);
                        background-color: var(--color-red-500)
                    }
                }
            }
        }
    }


    > .noteDetailContainer {

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        > .headerContainer {

            display: flex;
            justify-content: space-between;
            box-shadow: 0 1px 0 var(--color-neutral-200);
            padding-bottom: 0.75rem;

            > .backLinkContainer {

                display: flex;
                align-items: center;
                gap: 0.25rem;
                text-decoration: none;
                color: black;
                border-style: none;
                background-color: transparent;

                > p {

                    color: var(--color-neutral-600);
                }
            }

            > .buttonContainer {

                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;

                > button {

                    border-style: none;
                    background-color: transparent;

                    > img {

                        width: 18px;
                        height: 18px;
                    }
                }

                > .saveButton {

                    color: var(--color-blue-500)
                }
            }

        }

        > .contentContainer {

            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            > .headerContainer {

                display: flex;
                flex-direction: column;
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

                > h2 {

                    color: var(--color-neutral-950);
                }


                > .tagContainer {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.25rem 0 0.25rem 0;
                    margin-top: 0.75rem;
                    font-size: 0.75rem;

                    > .titleContainer {

                        width: 115px;
                        height: 24px;
                        display: flex;
                        gap: 0.375rem;

                        > img {

                            width: 12px;
                            height: 12px;
                            align-self: center;
                        }

                        > p {

                            align-self: center;
                            color: var(--color-neutral-700);
                        }
                    }

                    > .listContainer {

                        display: flex;
                        flex: 2;

                        > p {

                            color: var(--color-neutral-950);
                        }
                    }
                }

                > .timestampContainer {

                    display: flex;
                    padding: 0.25rem 0 0.25rem 0;
                    font-size: 0.75rem;

                    > .titleContainer {

                        width: 115px;
                        height: 24px;
                        display: flex;
                        gap: 0.375rem;

                        > img {

                            width: 12px;
                            height: 12px;
                            align-self: center;
                        }

                        > p {

                            align-self: center;
                            color: var(--color-neutral-700);
                        }
                    }

                    > p {

                        align-self: center;
                        color: var(--color-neutral-700);
                    }
                }
            }

            > .textContainer {

                width: 100%;
                height: auto;

                > p {

                    word-wrap: anywhere;
                    white-space: pre-wrap;
                    color: var(--color-neutral-800);
                }
            }
        }
    }
}

