:root {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem auto;

    > .headerContainer {

        grid-row: 1/2;
        padding: 1rem;
        background-color: lightgray;
    }

    > .contentContainer {

        grid-row: 2/3;
        padding: 1.25rem 1rem 1rem 1rem;

        /* THIS CSS IS ATTACHED TO THE NOTE LIST CONTENT CONTAINER*/
        /* If note list container becomes a component, make sure to remove this */
        > .noteListContainer {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            list-style: none;
            padding: 0.5rem;

            > .noteContainer {

                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                > .tagContainer {

                    display: flex;
                    gap: 0.25rem;

                    > p {

                        padding: 0.125rem 0.375rem 0.125rem 0.375rem;
                        border-radius: 0.25rem;
                        background-color: lightgray;
                        font-size: 0.75rem;
                    }
                }

                > hr {

                    border: 1px solid lightgray;
                }

            }
        }

        /* THIS CSS IS ATTACHED TO THE NOTE DETAIL CONTAINER */
        /* If note detail container becomes a component, make sure to remove this */
        > .noteDetailContainer {

            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            > .headerContainer {

                display: flex;
                justify-content: space-between;
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
                padding-bottom: 0.75rem;

                > .backLinkContainer {

                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    text-decoration: none;
                    color: black;
                }

                > .buttonContainer {

                    display: flex;
                    gap: 1rem;

                    > button {

                        border-style: none;
                        background-color: transparent;
                    }

                    > .saveButton {

                        color: rgb(50, 100, 250);
                    }
                }

            }

            > .contentContainer {

                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                > .headerContainer {

                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);


                    > .tagContainer {

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.25rem 0 0.25rem 0;
                        margin-top: 0.75rem;
                        font-size: 0.75rem;

                        > .titleContainer {

                            width: 115px;
                            height: 24px;
                            display: flex;
                            gap: 0.375rem;

                            > img {

                                width: 12px;
                                height: 12px;
                                align-self: center;
                            }

                            > p {

                                align-self: center;
                            }
                        }

                        > .listContainer {

                            display: flex;
                            flex: 2;
                        }
                    }

                    > .timestampContainer {

                        display: flex;
                        padding: 0.25rem 0 0.25rem 0;
                        font-size: 0.75rem;

                        > .titleContainer {

                            width: 115px;
                            height: 24px;
                            display: flex;
                            gap: 0.375rem;

                            > img {

                                width: 12px;
                                height: 12px;
                                align-self: center;
                            }

                            > p {

                                align-self: center;
                            }
                        }

                        > p {

                            align-self: center;
                        }
                    }
                }
            }
        }
    }

    /*    FOOTER CSS */

    > .footerContainer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > .createButtonContainer {

            display: flex;
            align-self: flex-end;
            background-color: rgb(50, 100, 250);
            border-radius: 100%;
            width: 48px;
            height: 48px;
            margin-right: 1rem;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);

            > svg {

                width: 32px;
                height: auto;
                fill: white;
            }
        }

        > .menuBarContainer {

            display: flex;
            justify-content: space-between;
            padding: 1rem 2rem 1rem 2rem;
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);

            > img {
                width: 24px;
                height: 24px;
            }
        }
    }

}